<div>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Rating</th>
      <th></th>
    </tr>
    <tr ng-repeat="movie in model.movies">
      <td>{{movie.title}}</td>
      <td>{{movie.length}}</td>
      <td>
        <movie-rating value="movie.rating">
          <span class="glyphicon glyphicon-star"></span>
        </movie-rating>
      </td>
      <td>
          <div class="btn btn-default" ng-click="model.upVote(movie)">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
          <div class="btn btn-default" ng-click="model.downVote(movie)">
            <span class="glyphicon glyphicon-minus"></span>
          </div>
          <button ng-click="model.goTo(movie.id)" class="btn btn-default">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
      </td>
    </tr>
  </table>
</div>
